<div class='p-10 pt-4'>
  <div
    class='flex shrink-0 items-center p-4 font-sans text-2xl font-semibold leading-snug text-blue-gray-900 antialiased'
  >Update category</div>
  <div
    class='relative border-t border-b border-t-blue-gray-100 border-b-blue-gray-100 p-4 font-sans text-base font-light leading-relaxed text-blue-gray-500 antialiased'
  >
    <form>

      <div>
        <div class='mb-5'>
          <label
            for='CategoryName'
            class='mb-3 block text-base font-medium text-[#07074D]'
          >Category Name <span class='text-red-400'>*</span></label>
          <input
            type='text'
            name='CategoryName'
            id='CategoryName'
            placeholder='Category Name'
            class='w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md'
            required
            value="{{~category.CategoryName~}}"
          />
        </div>
        <div class='mb-5'>
          <label
            for='ParentCategoryID'
            class='mb-3 block text-base font-medium text-[#07074D]'
          >Parent Category</label>
          <select
            name='ParentCategoryID'
            id='ParentCategoryID'
            class='w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md'
          >
            <option value=''>None</option>
            {{#each categoryList}}
              <option value='{{this.CategoryID}}' {{#if (equal CategoryID ../category.ParentCategoryID)}}selected{{/if}}>{{this.CategoryName}}</option>
            {{/each}}
          </select>
        </div>
        <div class='mb-5'>
          <label
            for='IsCategoryActive'
            class='mb-3 block text-base font-medium text-[#07074D]'
          >Is Active</label>
          <input
            type='checkbox'
            name='IsCategoryActive'
            id='IsCategoryActive'
            class='rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md'
            {{#if category.IsCategoryActive}}checked{{/if}}
          />

        </div>
      </div>
      <div
        class='flex shrink-0 flex-wrap items-center justify-end p-4 text-blue-gray-500'
      >
        <button
          class='middle none center rounded-lg bg-gradient-to-tr from-green-600 to-green-400 py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-green-500/20 transition-all hover:shadow-lg hover:shadow-green-500/40 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none'
          type='submit'
        >Update</button>
      </div>
    </form>
  </div>

</div>

<script src='/js/category-management/categoryEdit.js'></script>
